/* Force Directed Graph CSS */

#headerInfo {
  /*background-color: #7ec7cc;*/
  background-color: #837ecc;
  opacity: 0.8;
  color: #ffffff;
  padding: 10px 10px;
}

svg {
  background-color: #ccaa7e;
}

#flags {
  position: absolute;
}

.link {
    stroke: #000000;
    stroke-width: 1px;
}

.tooltipStyles {
  position: fixed;
  display: none;
  background-color: #7ec7cc;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 5px 10px;
  opacity: 0.8;
}

